$background-color-main: #1A1B26;
$background-color-second: #232534;
$background-color-third: linear-gradient(268.3deg, #3C4ECE 2.15%, #4B61F9 100.76%);
$background-color-forth: #2F3246;
$background-color-fifth: #242635;
$font-color-1: #585C76;
$font-color-2: #ACAEC8;
$color-white: #fff;
$color-line: #2F3248;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Gotham Pro;
}
img {
  max-height: 100%;
  max-width: 100%;
}
.container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: $background-color-main;
  display: flex;
}

.option-panel {
  min-width: 300px;
  padding-left: 40px;

}

.option-panel__logo {
  padding-top: 30px;
}

.logo {
  display: flex;
  gap: 10px;
  align-items: center;
  color: $color-white;
}

.option-panel__options {
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.option-panel__item {
  display: flex;
  gap: 10px;
  align-items: center;

  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: $font-color-1;
}

.option-panel__item__pic {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: $background-color-second;
  border-radius: 10px;
}
.option-panel__item__pic img{
  position: absolute;
  display: block;
  top: calc(50% - 13px);
  left: calc(50% - 13px);
}

.option-panel__item__name {

}
.option-panel__sign {
  margin-bottom: 20px;
}

.sign {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: $font-color-2;
}

.dashboard {
  background-color: $background-color-second;
  width: 100%;
  border-radius: 30px 0 0 30px;
}

.dashboard__header {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 25px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.dashboard__header__title {
  display: flex;
  justify-content: space-between;
  color: $color-white;
}

.dashboard__header__title__left {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
}

.dashboard__header__title__right {
  display: flex;
  gap: 15px;

}

.account-name {
  text-align: right;
}

.account-name__fullname {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

.account-name__login {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

.account-dropdown {
  position: relative;
  width: 40px;
  height: 40px;
}
.account-dropdown img{
  position: absolute;
}
.account-dropdown .arrow {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  top: calc(50% - 8px);
  left: calc(50% + 13px);
  background-color: $background-color-second;
}
.arrow img {
  position: absolute;
  width: 8px;
  height: 6px;
  top: calc(50% - 3px);
  left: calc(50% - 5px);
  z-index: 101;
}

.notification-dropdown {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: $background-color-forth;
  cursor: pointer;
}
.notification-dropdown .circle {
  animation: .5s infinite alternate notification;
}
.notification-dropdown .bell:hover {
  animation: .3s 9 alternate bell;
}
@keyframes notification {
  from {
    scale: 1;
  }
  to {
    scale: 1.1;
  }
}
@keyframes bell {
  from {
    transform: rotate(15deg);
  }
  to {
    transform: rotate(-15deg)
  }
}
.notification-dropdown img {
  position: absolute;
  top: calc(50% - 13px);
  left: calc(50% - 11px);
}
.notification-dropdown .circle {
  border: 2px solid $background-color-second;
  border-radius: 50%;
  top: 14px;
  left: -6px;
}

.dashboard__header__control-panel {
}

.control-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  background: $background-color-third;
  color: $color-white;
}

.control-panel__general-info {
  padding: 30px;
}

.control-panel__general-info__balance {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  margin-bottom: 10px;
}

.control-panel__general-info__text {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

.control-panel__general-info__dropdown {
  display: inline-block;
  vertical-align: middle;
}
.currency-dropdown {
  width: 82px;
  height: 30px;
  border-radius: 5px;
  background: $background-color-second;
  cursor: pointer;
}
.currency-dropdown:hover {
  border-bottom: 2px solid $color-line;
  border-radius: 5px 5px 0 0;
}
.currency-dropdown__inner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  padding: 5px;
}
.currency-dropdown__inner__pic {
  width: 20px;
  height: 20px;
}
.currency-dropdown__inner__title {
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
}
.currency-dropdown__inner__arrow {
  display: flex;
  align-items: center;
}
.currency-dropdown:hover .currency-dropdown__content {
  opacity: 1;
}
.currency-dropdown__item:hover {
  background-color: $background-color-forth;
}
.currency-dropdown__content {
  position: absolute;
  display: flex;
  opacity: 0;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
  width: 82px;
  background-color: $background-color-fifth;
  border-radius: 0 0 5px 5px;
  color: $color-white;
  transition: opacity .2s ease-out;
  overflow: hidden;
}
.currency-dropdown__item {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 5px 0 5px 5px;
  justify-content: flex-start;
  gap: 5px;
}
.currency-dropdown__item__pic {
  width: 20px;
  height: 20px;
}
.currency-dropdown__item__title {
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
}

.control-panel__right-block {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 35px;
}
.control-panel__right-block__add,
.control-panel__right-block__update,
.control-panel__right-block__transfer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: $background-color-second;
  transition: all .3s ease;
  cursor: pointer;
}
.control-panel__right-block__transfer {
  width: 190px;
}
.control-panel__right-block__transfer span {
  margin-right: 17px;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
}

.control-panel__right-block__add:hover,
.control-panel__right-block__update:hover,
.control-panel__right-block__transfer:hover {
  scale: 1.025;
}

.dashboard__balance {
  width: 90%;
  margin: 35px auto 0 auto;
  color: $color-white;
}

.dashboard__balance__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.dashboard__balance__header__text {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
}

.dashboard__balance__header__view-control {
}

.view-control {
  display: flex;
  gap: 5px;
}

.view-control__option {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: 2px solid $background-color-forth;
  transition: all .2s ease;
  cursor: pointer;
}
.view-control__option:hover {
  background-color: $background-color-forth;
}
.view-control__option img {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  opacity: .2;
  transition: opacity .2s ease;
}
.option-active {
  background-color: $background-color-forth;
}
.option-active img {
  opacity: 1;
}
.row-view {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
}
.currency-item {
  display: grid;
  grid-template-rows: 1fr;
  row-gap: 10px;
  background-color: $background-color-forth;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  transition: all 1s ease;
  cursor: pointer;
}
.currency-item__header {
  display: grid;
  grid-template-columns: 30px 3fr 2fr 2fr 1fr;
  align-items: center;
}
.currency-item__bottom {
  display: none;
  grid-template-columns: 30px 3fr 2fr 2fr 1fr;
  align-items: center;
  transition: opacity 1s ease-in-out;
}
.currency-item:hover {
  grid-template-rows: 1fr 1fr;
  height: 80px;
  background-color: $background-color-second;
}
.currency-item:hover .currency-item__bottom {
  display: grid;
}
.currency-item:hover .currency-item__dropdown img {
  opacity: 0;
}
.currency-item__title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-left: 10px;
}
.currency-item__title img{
  cursor: pointer;
}

.currency-item__status {
  text-align: left;
}

.currency-item__balance {
  text-align: left;
}

.currency-item__dropdown {
  text-align: right;

}
.currency-item__dropdown img {
  transition: opacity .3s ease-in-out;
}

.table-view {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  .currency-item {
    position: relative;
    display: flex;
    width: calc(33% - 20px);
    height: 165px;
    padding: 20px;
    .currency-item__header {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: space-between;
      .currency-item__dropdown {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      .currency-item__status {
        display: none;
      }
    }
  }
  .currency-item:hover {
    background-color: $background-color-forth;
    border-radius: 10px 10px 0 0;
  }
  .currency-item:hover .currency-item__bottom {
    position: absolute;
    width: 100%;
    top: 95%;
    left: 0;
    z-index: 101;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 10px 10px;
    padding: 20px;
    background-color: $background-color-forth;
    box-shadow: 0 5px 8px $background-color-second;
  }
}
.hidden {
  display: none;
}
