@import './normalize.scss';

// ==== Mixins ==== //

@mixin font-haas {
  font-family: 'Neue Haas Grotesk Text', sans-serif;
}
$color-white: #fff;

// ==== Section-main-cards ==== //
.section-main-cards {

  &-content {
    height: 600px;
    max-width: 90%;
    display: flex;
    margin-top: 55px;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
    &-item {
      height: 100%;
      width: calc(33% - 26px);
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.19) 0%, rgba(0, 0, 0, 0) 63.81%);
      border-radius: 16px;
      &-text {
        @include font-haas;
        display: flex;
        flex-direction: column;
        margin: 40px 160px 440px 40px;
        color: $color-white;
        &-subtitle {
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
        }
        &-title {
          font-weight: 700;
          font-size: 40px;
          line-height: 48px;
        }
      }
      &-popup {
      }
    }
  }
}

// ==== Section-section-studies ==== //


// ==== Section-section-explore-studies ==== //


// ==== Section-section-business ==== //


// ==== Section-section-popular ==== //


// ==== Section-section-category ==== //


// ==== Section-section-own ==== //


