@import './normalize.scss';
$color-white: #fff;
$color-black: #000000;
$color-links: #4D44C6;
$color-content: #3D3D4E;
$width: 90%;
// ==== Mixins ==== //

@mixin font-haas {
  font-family: 'Neue Haas Grotesk Text', sans-serif;
}
@mixin horizontal-align {
  width: $width;
  margin-right: auto;
  margin-left: auto;
}
@mixin card {
  .item {
    display: flex;
    flex-direction: column;
    height: 100%;
    &-pic {
      img {
        max-width: 100%;
      }
    }
    &-text {
      @include font-haas;
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 24px;
      &-case {
        @include link-text;
      }
      &-title {
        @include title;
      }
      &-content {
        @include text-content;
      }
    }
  }
}
@mixin link-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  a {
    text-decoration: none;
    color: $color-links;
  }
}
@mixin title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: $color-black;
  margin-top: 8px;
}
@mixin text-content {
  color: $color-content;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-top: 16px;
}

* {
  box-sizing: border-box;
}

// ==== Section-main-cards ==== //
.section-main-cards {
  &-content {
    @include horizontal-align;
    display: flex;
    margin-top: 55px;
    justify-content: space-between;
    &-item {
      height: 600px;
      width: 31.4%;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 37.89%);
      border-radius: 16px;
      &-text {
        @include font-haas;
        display: flex;
        flex-direction: column;
        margin: 40px 160px 440px 40px;
        color: $color-white;
        &-subtitle {
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
        }
        &-title {
          font-weight: 700;
          font-size: 40px;
          line-height: 48px;
        }
      }
      &-popup {
      }
    }
    .type-2 {
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.19) 0%, rgba(0, 0, 0, 0) 63.81%);
    }
  }
}

// ==== Section-section-studies ==== //
.section-studies {
  &-content {
    @include horizontal-align;
    .header {
      @include font-haas;
      font-weight: 500;
      font-size: 40px;
      line-height: 58px;
      margin-bottom: 44px;
    }
    .container {
      display: flex;
      width: 100%;
      justify-content: space-between;
      gap: 32px;
      @include card;
      .item {
        width: 18.5%;
      }
    }
  }
}

// ==== Section-section-explore-studies ==== //
.section-explore-studies {
  &-content {
    @include horizontal-align;
    @include font-haas;
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    .main {
      display: flex;
      flex-direction: column;
      width: 17.5%;
      height: 100%;
      &-title {
        color: $color-black;
        font-weight: 500;
        font-size: 32px;
        line-height: 40px;
        text-align: right;
      }
      &-button {
        margin-top: 32px;
        text-align: right;
        a {
          text-decoration: none;
          color: $color-black;
        }
        .additional-info-arrow {
          display: inline-block;
          margin-left: 8px;
          transition-duration: 0.2s;
        }
      }
    }
    .picture {
      width: 31%;
      height: 100%;
      img {
        max-width: 100%;
        margin-top: 40px;
      }
    }
    .carousel {
      width: 43%;
      display: flex;
      justify-content: space-between;
      margin-top: 40px;
      @include card;
      .item {
        width: 47.5%;
      }
    }
  }
}

// ==== Section-section-business ==== //


// ==== Section-section-popular ==== //


// ==== Section-section-category ==== //


// ==== Section-section-own ==== //


