@import './normalize.scss';

// ==== Mixins ==== //

@mixin font-haas {
  font-family: 'Neue Haas Grotesk Text', sans-serif;
}

// ==== Mixins ==== //

  $color-main: green;
  $color-secondary: black;

  body{
    background-color: $color-main;
    font-family: 'Space Grotesk', serif;
  }
  h1 {
    color: $color-secondary;
    padding-bottom: 100px;
  }
